<div class="calc-input--playground">
  <span class="symbol">{{symbol}}</span> {{playgroundValue}}
</div>
<div class="calc-input--actions">
  <div class="calc-input--operations">
    <button class="calc-input--op-btn" data-op="plus" {{action 'operation' "plus"}}>+</button>
    <button class="calc-input--op-btn" data-op="minus" {{action 'operation' "minus"}}>-</button>
    <button class="calc-input--op-btn" data-op="multiply" {{action 'operation' "multiply"}}>*</button>
    <button class="calc-input--op-btn" data-op="divide" {{action 'operation' "divide"}}>/</button>
  </div>
  <div>
    <div class="calc-input--numpad">
      <button class="calc-input--number-btn" data-number="9" {{action 'numberClicked' "9"}}>9</button>
      <button class="calc-input--number-btn" data-number="8" {{action 'numberClicked' "8"}}>8</button>
      <button class="calc-input--number-btn" data-number="7" {{action 'numberClicked' "7"}}>7</button>
      <button class="calc-input--number-btn" data-number="6" {{action 'numberClicked' "6"}}>6</button>
      <button class="calc-input--number-btn" data-number="5" {{action 'numberClicked' "5"}}>5</button>
      <button class="calc-input--number-btn" data-number="4" {{action 'numberClicked' "4"}}>4</button>
      <button class="calc-input--number-btn" data-number="3" {{action 'numberClicked' "3"}}>3</button>
      <button class="calc-input--number-btn" data-number="2" {{action 'numberClicked' "2"}}>2</button>
      <button class="calc-input--number-btn" data-number="1" {{action 'numberClicked' "1"}}>1</button>
      <button class="calc-input--number-btn" data-number="0" {{action 'numberClicked' "0"}}>0</button>
      <button class="calc-input--point-btn" {{action 'numberClicked' "."}}>.</button>
    </div>
    <div class="calc-input--general-actions">
      <button class="calc-input--del-btn" {{action 'delete'}}>⌫</button>
      <button class="calc-input--reset-btn" {{action 'reset'}}>C</button>
      <button class="calc-input--commit-btn {{if hasPendingOperation 'calculate' 'commit'}}" {{action "commit"}}>
        {{if hasPendingOperation '=' '→'}}
      </button>
    </div>
  </div>
</div>
