<!-- appbar -->
{{#each categoryTypes as |type|}}
  <ul class="mui-list--unstyled" data-test-selector="{{type}}-list">
    {{#each (get filteredCategories type) as |category|}}
      <li class="list-item" data-category="{{category.id}}-{{category.name}}" {{action "selectedCategory" category}}>
        <div class="list-item--info">
          {{category-badge category=category}}
          <h3 class="list-item--description">{{category.name}}</h3>
        </div>
      </li>
    {{/each}}
  </ul>
{{/each}}
