<!-- appbar -->
{{#each categoryTypes as |type|}}
  <ul class="mui-list--unstyled" data-test-selector="{{type}}-list">
    {{#each (get filteredCategories type) as |category|}}
      <li class="category-list-item" data-category="{{category.id}}-{{category.name}}" {{action "selectedCategory" category}}>
        {{category-badge category=category}}
        <span>{{selectedCategory.name}}</span>
      </li>
    {{/each}}
  </ul>
{{/each}}
