<a href="#" data-test-previous-month-btn {{action "prevMonth"}}>{{fa-icon "chevron-left" size="lg"}}</a>
<span data-test-current-month>{{currentMonthName}}</span>
<a href="#" data-test-next-month-btn {{action "nextMonth"}}>{{fa-icon "chevron-right" size="lg"}}</a>
