<div class="mui-col-xs-6 mui-col-xs-offset-3" data-test-transaction-main-container>
  {{#liquid-unless isCatSelectorShowing class="transaction-form-container"}}
    <h2>Create a Transaction</h2>
    <div class="mui-panel">
      <form {{action 'createTransaction' on='submit'}}>
        {{transaction-value-input data-test-transaction-value
          value=transactionValue
          class="mui-textfield"
          label="Value"
          update=(action (mut transactionValue))
          transactionType=transactionType
        }}
        <div class="mui-textfield">
          {{one-way-input data-test-transaction-description value=transactionDescription name="transaction-description" update=(action (mut transactionDescription))}}
          <label for="transaction-description">Description</label>
        </div>
        {{category-selector-input data-test-transaction-category
          label="Category"
          class="mui-textfield"
          selectedCategory=transactionCategory
          onClick=(action (mut isCatSelectorShowing) true)
        }}
        {{date-picker data-test-transaction-date
          class="mui-textfield"
          value=transactionDate
          label="Date"
          onSelect=(action (mut transactionDate))
        }}
        <button type="submit" class="mui-btn mui-btn--primary" data-test-submit-transaction>Create</button>
      </form>
    </div>
  {{else}}
    {{category-selector categories=model onSelection=(action "selectCategory")}}
  {{/liquid-unless}}
</div>
