<div class="mui-col-xs-12">
  <div class="month-summary mui-panel">
    <div class="mui--divider-bottom month-summary-header">
      <a href="#">{{model.name}} overview <i class="fa fa-chevron-right pull-right"></i></a>
    </div>
    <div class="month-summary-content">
      <table class="mui-table">
        <tbody>
          <tr>
            <td>Opening balance</td>
            <td class="month-summary-balance" data-test-selector="opening-balance-value">
              {{format-money model.openingBalance format="%s %v"}}
            </td>
          </tr>
          <tr>
            <td>Current balance</td>
            <td class="month-summary-balance" data-test-selector="current-balance-value">
              {{format-money currentBalance format="%s %v"}}
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td class="mui--divider-top month-summary-balance month-summary-balance-total expense-amount" data-test-selector="month-balance-value">
              {{format-money model.balance}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="mui-col-xs-12">
  <div class="mui-row">
    <div class="mui-col-xs-12 transactions-container">
      {{#each transactionsByDate as |transactionsSet|}}
        {{transaction-panel transactions=transactionsSet.items date=transactionsSet.value}}
      {{else}}
        <div class="no-transactions">
          No transactions.
          <small>Add (+) some!</small>
        </div>
      {{/each}}
    </div>
  </div>
</div>
{{#link-to 'create-transaction' class="mui-btn mui-btn--fab create-transaction-link"}}
  <i class="fa fa-plus" aria-hidden="true"></i>
{{/link-to}}
