<div class="mui-col-xs-6 mui-col-xs-offset-3">
  <div class="month-summary mui-panel">
    <h2 class="mui--divider-bottom month-summary-header" data-test-month-name>
      {{model.name}} overview
    </h2>
    <div class="month-summary-content">
      <div>
        <span>Opening balance</span>
        <span class="month-summary-balance" data-test-opening-balance-value>
          {{format-money model.openingBalance}}
        </span>
      </div>
      <div>
        <span>Current balance</span>
        <span class="month-summary-balance" data-test-current-balance-value>
          {{format-money currentBalance}}
        </span>
      </div>
      <div>
        <span class="mui--divider-top month-summary-balance month-summary-balance-total expense-amount" data-test-month-balance-value>
          {{format-money model.balance}}
        </span>
      </div>
    </div>
  </div>
  <div class="mui-row">
    <div class="mui-col-xs-12 transactions-container" data-test-transactions-container>
      {{#each transactionsByDate as |transactionsSet|}}
        {{transaction-panel transactions=transactionsSet.items date=transactionsSet.value}}
      {{else}}
        <div class="no-transactions">
          No transactions.
          <small>Add (+) some!</small>
        </div>
      {{/each}}
    </div>
  </div>
</div>
{{#link-to 'transactions.create' data-test-new-transaction-btn class="mui-btn mui-btn--fab mui-btn--primary create-transaction-link"}}
  {{fa-icon "plus"}}
{{/link-to}}
